:root {
  --green: rgb(39, 189, 39);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  margin: 0 auto;
  max-width: 1200px;
}


header h1 {
  font-size: 2.5em;
  font-weight: 900;
  text-align: center;
  padding: 0.5rem 0;
}

main {
  padding: 0 1rem;
}

.new-review-form {
  padding: 2rem 1rem;
  margin: 2rem 0;
  background-color: rgba(181, 250, 181, 0.5);
}

.new-review-form form {
  display: flex;
  justify-content: center;
}

.new-review-form input {
  margin-right: 2rem;
  flex: 1;
}

.new-review-form button {
  width: 150px;
}

label {
  font-weight: bold;
  display: block;
}

input {
  padding: 0.25rem;
  border: none;
  font-family: inherit;
  font-size: 1.2em;
  border-bottom: 2px solid gray;
  transition: all 0.2s;
  width: 100%;
}

input:focus {
  outline: none;
  border-bottom: 2px solid var(--green);
}


.card button {
  margin-top: 0.5rem;
}

/* Products HomepagePage */

.products-main {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.home-header {
  text-align: center;
  margin-bottom: 20px;
}

.home-search {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  font-size: 1rem;
  width: 20%;
}

.search-button {
  padding: 10px 15px;
  font-size: 1rem;
  margin-left: 20px;
}

.button {
  padding: 0.25rem .5rem;
  font-family: inherit;
  border: none;
  cursor: pointer;
  }

.product-description {
  text-decoration: none;
  color: inherit;
}


/* Product Details Page */

.product-details-container {
  display: flex;
  text-decoration: none;
  gap: 2rem;
  margin: 20px;
}

.product-info {
  margin-top: 100px;
}


/* Product Card */

.product-card-details {
  list-style: none;
  padding-top: 20px;
  padding-bottom: 50px;
  text-decoration: none;

}

